[BASIC]

extension-pkg-whitelist=pydantic
good-names=i, j, k, db
max-args=10
disable = missing-module-docstring,
          missing-class-docstring,
          missing-function-docstring,
          fixme,
          too-few-public-methods,
          line-too-long,
          unused-argument,
          c-extension-no-member,
          not-callable,
          invalid-name,